{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Chuerk</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium praesentium doloremque atque natus
            possimus cumque quo, ex distinctio, officia laborum nesciunt enim mollitia! Praesentium autem nam, soluta
            fugit dolorem optio!</p>
    </div>

    <div class="col-4">
        <img src="assets/img/chuerk.png" class="img-thumbnail">
    </div>

</div>

{{> footer}}